<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="WMZ_Core::wmz"
             title="WMZ"
             module="WMZ_Core"
             sortOrder="50"
             resource="WMZ_Core::menu" />
    </menu>
</config>
